@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 25% 98.43%;
    --foreground: 120 9.68% 6.08%;

    --primary: 114.38 15.53% 59.61%;
    --primary-foreground: 0 0% 100%;

    --card: 120 25% 98.43%;
    --card-foreground: 120 9.68% 6.08%;

    --popover: 0 0% 100%;
    --popover-foreground: 120 9.68% 6.08%;

    --secondary: 108 16.13% 93.92%;
    --secondary-foreground: 90 16.67% 2.35%;

    --muted: 120 14.29% 95.88%;
    --muted-foreground: 0 0% 40%;

    --accent: 120 14.29% 95.88%;
    --accent-foreground: 114.38 15.53% 59.61%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 114.38 15.53% 59.61%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 90 16.67% 2.35%;
    --foreground: 108 16.13% 93.92%;

    --primary: 114.38 15.53% 59.61%;
    --primary-foreground: 0 0% 100%;

    --card: 90 16.67% 2.35%;
    --card-foreground: 108 16.13% 93.92%;

    --popover: 90 16.67% 2.35%;
    --popover-foreground: 108 16.13% 93.92%;

    --secondary: 114.55 10.28% 20.98%;
    --secondary-foreground: 0 0% 100%;

    --muted: 90 3.23% 12.16%;
    --muted-foreground: 60 0.4% 51.18%;

    --accent: 114.55 10.28% 20.98%;
    --accent-foreground: 108 16.13% 93.92%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 114.38 15.53% 59.61%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
